{% extends "base.html" %}

{% block title %}
<h2>Stock Index</h2>
{% endblock title %}

{% block content %}

<table class="table table-hover">
    <thead>
        <th scope="col">UUID</th>
        <th scope="col">Summary</th>
    </thead>
    <tbody>
        {% for item in stock %}
        <tr>
            <td>{{item.uuid}}</td>
            <td>{{item.summary}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No data to display</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}