{% extends "base.html" %}

{% block title %}
<h2>{{title}}</h2>
{% endblock title %}

{% block content %}


<table class="table table-hover">
    <thead>
        <th scope="col">Records</th>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>
                <a href="{% url 'stock:egg_update_form' record.pk %}">
                {{record.summary}}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="1">No data to display</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}