{% extends "base.html" %}

{% block title %}
<h2>{{title}}</h2>
{% endblock title %}

{% block head_extras %}
    {% include "plotly.html" %}

    <script>
    window.onload = function () {
        const jsonObject = JSON.parse('{{ json_file | escapejs }}');
        const graphDiv = document.getElementById('graph');
        const layout = jsonObject['layout'];
        if (!('legend' in layout)) {
            layout['legend'] = {};
        }
        layout['legend']['x'] = 1.1;
        layout['legend']['y'] = 1;
        Plotly.newPlot(graphDiv, jsonObject['data'], layout, {editable: true, responsive: true});
    }
    </script>

{% endblock head_extras %}

{% block content %}

<div id="graph" style="width:100%;height:250px;"></div>

{% endblock content %}